*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --primary-color: #faedeb;
    --primary-color-light: #ecc6c0;
    --bg-dark-primary: #000000;
    --bg-light-primary: #fff;
    --bg-dark-secondary: #121212;

    --border-radius: 0.3rem;

    --text-primary-color: #000;
    --text-secondary-color: #737373;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

body{
    background-color: var(--bg-dark-primary);
}
html{
    font-size: 10px;
}

/* global css starts here  */

a{
    text-decoration: none;
} 

button , .button{
    margin: .5rem 0 ;
    padding: .4rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: var(--bg-dark-primary);
    transition: all ease-in-out 200ms;
}

.btn-primary{
    background-color: var(--bg-dark-primary);
    border: 1px solid var(--primary-color);
    
}

.btn-primary:hover{
    background-color: var(--primary-color-light);
    color: var(--bg-dark-primary);
    border: 1px solid var(--primary-color);

}
.btn-secondary{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

h1, h2, h3, h4, h5, h6{
    line-height: 2rem;
    font-family: var(--font-primary);
    font-weight: 400;
    color: var(--text-primary-color);
}
h1{
    font-size: 3rem;
    line-height: 3.5rem;
    
}
h2{
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 1rem 0;
}
h3{
    font-size: 1.5rem;

  
}
h4{
    font-size: 18px;
    margin: .5rem 0;
}
p{
    font-size: 13px;
    font-family: var(--font-primary);
    line-height: 1.5rem;
    color: var(--text-primary-color);
    
}

label{
    color: var(--text-primary-color);
}

input{
    border: none;
    outline: none;
    color: var(--text-primary-color);
}

li{
    font-family: var(--font-secondary);
    list-style: none;
    color: var(--text-secondary-color);

}
a{
    color: var(--text-secondary-color);
}

ion-icon{
    color: var(--text-primary-color);
}

.subTitle{
    font-size: 24px;
    line-height: 2rem;
}
.container{
    width: 90%;
    max-width: 1280px;
    border-radius: 10px;
    margin: 0 auto;
}
.row{
    width: 100%;
}
.column{
    /* flex: 1; */
}
.title{
    text-align: center;
}
.parent{
    width: 99%;
    margin: 1rem auto;
}
.grid{
    display: grid;

}
.d-flex{
    display: flex;
    flex-wrap: nowrap;  
}
.justify-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: start;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}
.direction-column{
    flex-direction: column;
}
.direction-row{
    flex-direction: row;
}
.align-content{
    align-content: space-between ;

}

.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap{
    flex-wrap: wrap;
}
main{
    width: 95%;
    margin: 0 auto; 
    position: relative;
    background-color: blue;
}
/* global css ends here  */
.container{
    transition: transform .5s ;
    width: 70%;
    
}
header{
    /* margin-top: 10rem; */
    padding: 1rem 0;
    /* background-color: green; */
    /* overflow: hidden; */
}

header .icon-cart{
    font-size: 2.5rem;
    position: relative;
}
header .icon-cart span{
    display: flex;

    width: 25px;
    height: 25px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: -15px;

}

.listProduct .image{
    height: 200px;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listProduct .item img{
    width: 80%;

}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.listProduct .item{
    background-color: #353432;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}


.cartTabRow{
    width: 30%;
    /* background-color: red; */
    position: relative;
}
.cartTab{
    width: inherit;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 70px;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s ;
}
/* body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translateX(-250px);
} */
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color: #e8bc0e;
    border: none;
    font-family: poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: #eee;
    color: black;
}

.cartTab .listCart .item{
    display: flex;
    justify-content: space-between;

    /* grid-template-columns: 70px 150px 50px 200px; */
    gap: 10px;
    text-align: center;
    align-items: center;
}

.cartTab .listCart .item .image{
    width: 50px ;
}
.cartTab .listCart .item img{
    width: 80%;
}

.listCart .quantity{
    /* background-color: red; */
    display: flex;
    /* width: 5x; */
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555 !important;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.3rem;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .item:nth-child(even){
    background-color: #eee1;

}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}